<div *ngFor="let conversation of (conversations$ | async)" class="mb-4">
  <app-conversation-box
    [conversation]="conversation"
    [ngClass]="(conversation.sender=='bot')? 'd-flex justify-content-start': 'd-flex justify-content-end'">
  </app-conversation-box>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light textbox">
  <div class="input-group textbox">
    <input #message (keydown.enter)="sendMessage(message.value); message.value=''" class="form-control"
           placeholder="Type message..."
           type="text">

    <button (click)="sendMessage(message.value); message.value=''" class="btn btn-outline-success"
            type="button">SEND
    </button>
  </div>

</nav>

