<div #chat class="message-list">
  <app-conversation-box *ngFor="let conversation of conversations"
                        [conversation]="conversation"
                        [ngClass]="(conversation.sender=='bot')? 'd-flex justify-content-start': 'd-flex justify-content-end'">
  </app-conversation-box>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light textbox">
  <div class="input-group textbox">
    <input #message (keydown.enter)="sendMessage(message.value); message.value=''" class="form-control"
           placeholder="Type message..."
           [value]="draft$ | async"
           type="text">
    <button (click)="clearMessage(); message.focus()"
            class="btn btn-outline-danger"
            type="button">x
    </button>
    <button (click)="sendMessage(message.value); message.value=''; message.focus()"
            class="btn btn-outline-success"
            type="button">SEND
    </button>
  </div>

</nav>

