<div class="toolbar" role="banner">
  <img width="40"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
</div>

<!-- Highlight Card -->
<div class="card highlight-card card-small">
  <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
       viewBox="0 0 516.119 1083.632">
    <path id="Path_40" data-name="Path 40"
          d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
          transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
  </svg>
</div>
<div class="content" role="main">
  <table>
    <tr class="thead">
      <th>Companies</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let company of companies$ | async">
      <td>{{company.name}}</td>
      <td>
        <button (click)="deleteId(company.id)">Delete</button>
      </td>
    </tr>
  </table>


  <div class="card-container">
    <div class="highlight-card">
      <label>
        <input type="text" [(ngModel)]="newCompany"/>
      </label>
      <button (click)="addCompany()">Add new company</button>
    </div>

  </div>
</div>
